<ion-tabs color="danger">
  <ion-tab [root]="tab1Root" tabTitle="פאנל ניהול" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="חשבוניות" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="קבלות" tabIcon="contacts"></ion-tab>
</ion-tabs>
