page-home {

.bg{

    background-image:  url('../../assets/img/main_bg.jpg') !important;
    background-repeat: no-repeat;
    background-size:cover;
}

ion-content h2{

    color: white;
    text-align: center;
}
ion-content p{

    color: white;
    text-align: center;
}


}


